<!-- GENERAL CONTENT -->
<!-- header and back header -->
<%-include ("../partials/header-persona.ejs")%>
<%-include ("../partials/emptybackbar.ejs") %>

<!-- title -->
<div class="col text-center">
  <h1>GENERAL PROMPT</h1>
</div>
</div>
</div>

<!-- content -->
<div class="container-fluid px-3 mt-2">
  <div class="card pb-3" id="generalContainer">
    <div class="row">
      <form action="/persona/chat/general" method="post" class="text-center">
        <div class="col-12">
          <div class="card text-center">
            <div class="card-body">
              <label class="card-title">Name</label><br />
              <input class="form-control" type="text" name="name" placeholder="Enter name" />
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="card text-center">
            <div class="card-body">
              <label class="card-title">Age</label><br />
              <input class="form-control" type="text" name="age" placeholder="Enter age" />
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="card text-center">
            <div class="card-body">
              <label class="card-title">Gender</label><br />
              <input class="form-control" type="text" name="gender" placeholder="Enter gender" />
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="card text-center">
            <div class="card-body">
              <label class="card-title">Plot/Setting</label><br />
              <input class="form-control" type="text" name="plot" placeholder="Enter the plot/setting your persona is in" />
            </div>
          </div>
        </div>
        <button class="btn p-2 mt-3" type="submit" id="send">Send</button>
      </form>
    </div>
  </div>
  <div class="px-5 text-center d-none" id="loadingCard" style="padding-top: 200px;">
    <span id="loadingContainer"><i class="fa-solid fa-cat fa-bounce fa-2xl" style="color: #ffffff;"></i></i></span>
    <p style="color: #ffffff;">Please watch this cat while we finish generating!</p>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('#send').click(function() {
      // show card with loading indicator
      $("#loadingCard").removeClass("d-none");
      $("#generalContainer").addClass("d-none");
    });
  });
</script>

<!-- navbar and footer -->
<%-include ("../partials/navbar.ejs")%>
<%-include ("../partials/footer.ejs")%>