<!-- About us page -->
<!-- header -->
<%-include ('../partials/header.ejs')%>

<!-- back title bar -->
<%-include ('../partials/emptybackbar.ejs')%>
<div class="col text-center">
    <h1>ABOUT US</h1>
    </div>
</div>

<div class="container invsona-bg">

<h1>Hello world</h1>

</div>

<!-- navbar and footer -->
<%-include ('../partials/navbar') %>
<%-include ('../partials/footer') %>
