<!-- About us page -->
<!-- header -->
<%-include ('../partials/header-internal.ejs')%>

<!-- back title bar -->
<%-include ('../partials/emptybackbar.ejs')%>
<div class="col text-center">
  <h1>ABOUT US</h1>
</div>
</div>

<div class="container pt-1">
  <div class="card">
    <img src="/images/invsona/invsona-banner.png" width="100px" height="225px" class="card-img-top" alt="...">
    <div class="card-body">
      <div class="card-text">
        <h2>Mission</h2>
        <p class="para">We empower creatives by providing AI-generated personas tailored to individual needs, inspiring creativity, and supporting the creative process.</p>
        <h2>Vision</h2>
        <p class="para">
          We aspire to be the top provider of AI-generated personas for creatives and businesses, revolutionizing creative inspiration and marketing strategies.</p>
        <h2>Values</h2>
        <h5>1. Seek Creativity</h5>
        <p class="para">Unique character creation with infinite possibilities.</p>
        <h5>2. Unique</h5>
        <p class="para">With infinite possibilities there are tons of uniques in character's feature.</p>
        <h5>3. Inspire</h5>
        <p class="para">Turning fictional into reality with a touch of your fingertips.</p>
      </div>
    </div>
  </div>
</div>
</div>


<!-- navbar and footer -->
<%-include ('../partials/navbar') %>
<%-include ('../partials/footer') %>