<!-- video background -->
<video autoplay muted loop id="background">
    <source src="./images/blue_bg.mp4" type="video/mp4" />
  </video>
  
  <!-- logo -->
  <div class="container-fluid" id="login">
    <div id="box">
      <img id="logo" src="../images/invsona/invsona.png" alt="invsona logo" />
      <h1 class="pt-3" id="title">Invsona</h1>
      <div class="container mb-5">
        <p id="slogan">Character Creation at Your Finger Tips</p>
      </div>