<!-- back button  -->
<div class="container-fluid align-self-center sticky-top">
  <div class="backnav row text-bg-light pt-5 pb-4 px-3">
    <div class="col-1">
      <a onclick="history.back()">
        <span class="material-symbols-rounded">
          arrow_back_ios_new
        </span>
      </a>
    </div>
    <!-- ADD THIS CODE FOR A TITLE ON THE BACK BAR -->
    <!-- <div class="col text-center">
            <h1>PLACEHOLDER</h1>
          </div>
        </div> -->
    <!-- END TITLE CODE -->