<div
  class="botnav container-fluid text-center fixed-bottom"
>
  <div class="row">
    <div class="navbar">
      <!-- save  -->
      <div class="icon col pt-3">
        <a href="/saved">
          <i class="fa-solid fa-book-bookmark fa-2xl"></i>
          <p class = "p-1">Saved</p>
        </a>
      </div>

      <!-- persona -->
      <div class="icon col pt-3">
        <a href="/persona">
          <i class="fa-solid fa-person-dots-from-line fa-2xl"></i>
          <p class="p-1">Persona</p>
        </a>
      </div>

      <!-- home -->
      <div class="icon col py-3">
        <a href="/home">
          <img
            src="../images/invsona/home.png"
            alt="home"
            width="50px"
            height="50px"
            id="home"
          />
          <!-- <p>Home</p> -->
        </a>
      </div>

      <!-- dialogue -->
      <div class="icon col pt-3">
        <a href="/dialogue">
          <i class="fa-solid fa-comment-dots fa-2xl"></i>
          <p class="p-1">Dialogue</p>
        </a>
      </div>

      <!-- profile -->
      <div class="icon col pt-3">
        <a href="/profile">
          <i class="fa-solid fa-circle-user fa-2xl"></i>
          <p class="p-1">Profile</p>
        </a>
      </div>
    </div>
  </div>
</div>
