<div
  class="container text-center position-absolute bottom-0 start-50 translate-middle-x"
  id="botnav"
>
  <div class="row">
    <div class="navbar border-success">
      <!-- save  -->
      <div class="icon col pt-3">
        <a href="#">
          <img
            src="../images/icons/saved.png"
            alt="saved"
            width="30px"
            height="30px"
          />
          <p>Saved</p>
        </a>
      </div>

      <!-- persona -->
      <div class="icon col pt-3">
        <a href="/persona">
          <img
            src="../images/icons/persona.png"
            alt="saved"
            width="30px"
            height="30px"
          />
          <p>Persona</p>
        </a>
      </div>

      <!-- home -->
      <div class="icon col pt-3">
        <a href="/home">
          <img
            src="../images/icons/home.png"
            alt="saved"
            width="30px"
            height="30px"
          />
          <p>Home</p>
        </a>
      </div>

      <!-- dialogue -->
      <div class="icon col pt-3">
        <a href="#">
          <img
            src="../images/icons/dialogue.png"
            alt="saved"
            width="30px"
            height="30px"
          />
          <p>Dialogue</p>
        </a>
      </div>

      <!-- profile -->
      <div class="icon col pt-3">
        <a href="#" class="">
          <img
            src="../images/icons/profile.png"
            alt="saved"
            width="30px"
            height="30px"
          />
          <p>Profile</p>
        </a>
      </div>
    </div>
  </div>
</div>
