<div
  class="container-fluid text-center fixed-bottom"
  id="botnav"
>
  <div class="row">
    <div class="navbar">
      <!-- save  -->
      <div class="icon col pt-3">
        <a href="/saved">
          <img
            src="../images/icons/saved.png"
            alt=""
            width="30px"
            height="30px"
          />
          <p>Saved</p>
        </a>
      </div>

      <!-- persona -->
      <div class="icon col pt-3">
        <a href="/persona">
          <img
            src="../images/icons/persona.png"
            alt=""
            width="30px"
            height="30px"
          />
          <p>Persona</p>
        </a>
      </div>

      <!-- home -->
      <div class="icon col py-3">
        <a href="/home">
          <img
            src="../images/icons/home.png"
            alt="home"
            width="50px"
            height="50px"
            id="home"
          />
          <!-- <p>Home</p> -->
        </a>
      </div>

      <!-- dialogue -->
      <div class="icon col pt-3">
        <a href="/dialogue">
          <img
            src="../images/icons/dialogue.png"
            alt=""
            width="30px"
            height="30px"
          />
          <p>Dialogue</p>
        </a>
      </div>

      <!-- profile -->
      <div class="icon col pt-3">
        <a href="/profile">
          <img
            src="../images/icons/profile.png"
            alt=""
            width="30px"
            height="30px"
          />
          <p>Profile</p>
        </a>
      </div>
    </div>
  </div>
</div>
