<!-- header -->
<%-include ("./partials/header-internal.ejs")%>

<h1>This is the chat.</h1>

<div class="container" id="chatContainer">
  <!-- Existing chat messages -->
  <!-- <s% for (var i=0; i<locals.chatPrompt.length; i++) { %>
  <div class="row">
    <div class="col-12">
      <s%- i + "&nbsp;" + locals.chatPrompt[i] %>
      <s% } %>
    </div> -->
</div><br>

<form class="text-center input-container">
  <div class="row">
    <input class="form-control col" rows="1" cols="1" type="text" name="prompt" placeholder="<%= placeholderText %>" />
    <button class="btn col-3" type="submit">Send</button>
  </div>
</form>

<script type="module" src="../models/chat.js"></script>

<!-- navbar and footer -->
<%-include ("./partials/navbar.ejs")%>
<%-include ("./partials/footer.ejs")%>