<!-- header -->
<%-include ("./partials/header.ejs")%>

<!-- content -->
<h1>General prompt page</h1>
<div class="container">
  <div class="row">
    <form action="/persona/chat/general" method="post" class="text-center">
      <div class="col-12">
        <div class="card text-center">
          <div class="card-body">
            <label class="card-title">Name</label><br />
            <input class="form-control" type="text" name="name" placeholder="Enter name" />
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="card text-center">
          <div class="card-body">
            <label class="card-title">Age</label><br />
            <input class="form-control" type="text" name="age" placeholder="Enter age" />
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="card text-center">
          <div class="card-body">
            <label class="card-title">Gender</label><br />
            <input class="form-control" type="text" name="gender" placeholder="Enter gender" />
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="card text-center">
          <div class="card-body">
            <label class="card-title">Plot/Setting</label><br />
            <input class="form-control" type="text" name="plot" placeholder="Enter the plot/setting your persona is in" />
          </div>
        </div>
      </div>
      <br /><br />
      <button class="btn" type="submit">Send</button>
    </form>
  </div>
</div>

<!-- navbar and footer -->
<%-include ("./partials/navbar.ejs")%>
<%-include ("./partials/footer.ejs")%>