<!-- Purpose: Landing page for Invsona -->
<!-- header -->
<%-include ('./partials/header.ejs')%>

<!-- video background -->
<video autoplay muted loop id="background">
  <source src="/images/blue_bg.mp4" type="video/mp4" />
</video>

<!-- logo -->
<div class="container-fluid" id="content">
  <div id="box">
    <img id="logo" src="/images/invsona/invsona.png" alt="invsona logo" />
    <h1 class="pt-3"id="title">Invsona</h1>
    <div class="mb-5">
      <p id="slogan">Character Creation at Your Finger Tips</p>
    </div>
    <button class="btn btn-primary" onclick="window.location.href='/login'">
      START
    </button>
  </div>
</div>

<!-- footer -->
<%-include ('./partials/footer.ejs')%>
