<!-- header -->
<%-include ('./partials/header.ejs')%>

<!-- content -->
<body id="background">
  <div class="container">
    <!-- top card -->
    <div class="card rounded-5 p-1" id="outerBox">
      <div class="card text-center p-4 rounded-5" id="innerBox">
        <div class="row">
          <div class="col"></div>
          <div class="col">
            <img
              id="logo"
              class="align-self-center"
              src="./images/invsona.png"
              alt="invsona logo"
              width="200px"
              height="200px"
            />

            <h1 id="title">Invsona</h1>
            <div class="container m-2 pb-5">
              <p class="wrap" id="slogan">
                Character Creation at Your Finger Tips
              </p>
            </div>
          </div>
          <div class="col"></div>
        </div>
      </div>

      <!-- form card -->
      <div class="text-start p-4">
        <form action="/loginUser" method="post">
          <div class="mb-3">
            <label for="loginName" class="form-label" >Username / Email</label>
            <input
              type="loginName"
              class="form-control"
              id="loginName"
              name="loginName"
              name="loginName"
              aria-describedby="emailHelp"
            />
            <div id="emailHelp" class="form-text">
              We'll never share your email with anyone else.
            </div>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
            />
          </div>

          <div class="p-4 text-center">
            <button
              type="submit"
              class="btn btn-primary btn-lg"
            >
              LOGIN
            </button>
          </div>

          <!-- SIGN UP -->
          <div>
            <p class="text-center">
              Don't have an account? <a href="/signup">Sign Up</a>
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- footer -->
  <%-include ('./partials/footer.ejs')%>

