<!-- header -->
<%-include ('./partials/header.ejs')%>

<!-- content -->
<body id="background">
  <form action="/signout" method="post">
  <div class="container position-absolute top-50 start-50 translate-middle">
    <div class="card rounded-5 p-1" id="outerBox">
      <div class="card text-center p-4 rounded-5" id="innerBox">
        <div class="row">
          <div class="col"></div>
          <div class="col">
            <img
              id="logo"
              class="align-self-center"
              src="./images/invsona.png"
              alt="invsona logo"
              width="200px"
              height="200px"
            />

            <h1 id="title">Invsona</h1>
            <div class="container m-2 pb-5">
              <p class="wrap" id="slogan">
                Character Creation at Your Finger Tips
              </p>
            </div>
          </div>

          <div class="col"></div>
        </div>
        <div class="row">
          <div class="pb-5">
            <p class="fs-1 fw-1">You have been logged out</p>
          </div>
          <div class="pb-4">
            <button
              type="submit"
              type="submit"
              class="btn btn-primary btn-lg"
              a href="/"
            >
              Home
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- footer -->
  <%-include ('./partials/footer.ejs')%>

