<!-- header -->
<%-include ('./partials/header.ejs')%>

<body>
  <div class="container text-center align-item-center pt-5 px-5 py-3">
    <div class="p-2">
      <img
        src="../images/cat_placeholder.png"
        id="userImage"
        alt="userImage"
        class="p-2"
      />

      <div>
        <a href="">
          <img src="../images/icons/edit.png" id="editicon" alt="" />
          <span>Edit Profile</span>
        </a>
      </div>
    </div>
    <h1><f%name%></h1>
  </div>

  <!-- Menu -->

  <div class="container px-4 align-item-center">
    <div class="card p-2">
      <a href="/profile/account-setting">
        <div class="row">
          <div class="col-2">
            <img
              src="../images/icons/Setting.png"
              width="20px"
              height="20px"
              alt=""
            />
          </div>
          <div class="col">Account Settings</div>
        </div>
      </a>
    </div>

    <div class="card p-2">
      <a href="###">
        <div class="row">
          <div class="col-2">
            <img
              src="../images/icons/filter.png"
              width="20px"
              height="20px"
              alt=""
            />
          </div>
          <div class="col">Filters</div>
        </div>
      </a>
    </div>

    <div class="card p-2">
      <a href="####">
        <div class="row">
          <div class="col-2">
            <img
              src="../images/icons/Savedpersona.png"
              width="20px"
              height="20px"
              alt=""
            />
          </div>
          <div class="col">Saved Persona</div>
        </div>
      </a>
    </div>

    <div class="card p-2">
      <a href="#####">
        <div class="row">
          <div class="col-2">
            <img
              src="../images/icons/Saveddialogue.png"
              width="20px"
              height="20px"
              alt=""
            />
          </div>
          <div class="col">Saved Dialogue</div>
        </div>
      </a>
    </div>

    <div class="card p-2">
      <a href="######">
        <div class="row">
          <div class="col-2">
            <img
              src="../images/icons/AboutUs.png"
              width="20px"
              height="20px"
              alt=""
            />
          </div>
          <div class="col">About Us</div>
        </div>
      </a>
    </div>

    <div class="card p-2">
      <a href="#######">
        <div class="row">
          <div class="col-2">
            <img
              src="../images/icons/FAQ.png"
              width="20px"
              height="20px"
              alt=""
            />
          </div>
          <div class="col">FAQ</div>
        </div>
      </a>
    </div>

    <div class="text-center pt-4">
      <button
        type="button"
        class="btn btn-primary btn"
        onclick="window.location.href='/logout'"
      >
        LOGOUT
      </button>
    </div>
  </div>

  <!-- navbar and footer -->
  <%-include ("./partials/navbar.ejs")%>
  <%-include ("./partials/footer.ejs") %>
