<!-- Profile information -->
<!-- Profile information -->
<!-- header -->
<%-include ('./partials/header.ejs')%>

<div class="container invsona-bg">
      <div class="container text-center align-item-center pt-5" id="decor_user">
        <div class="pt-5 pb-5">
          <form action="upload.png" method="post" enctype="multipart/form-data">
            <label for="fileToUpload">
              <div
                class="editUserImage"
                style="background-image: url('../images/cat_placeholder.png')"
              >
  
                <span>Edit Profile Picture</span>
                <div style="position: relative">
                  <img src="../images/icons/edit.png" class="editicon" alt="">
                </div>
              </div>
            </label>
            <input type="File" name="fileToUpload" id="fileToUpload">
          </form>
        </div>
      </div>

  
      <!-- Menu -->
      <div class="container px-4 align-item-center ">

        <!-- Account Settings -->
        <div class="card p-2 bg-secondary">
          <a href="/profile/account-setting">
            <div class="row ">
              <div class="col-2">
                <img
                  src="../images/icons/Setting.png"
                  width="20px"
                  height="20px"
                  alt=""
                />
              </div>
              <div class="col ">Account Settings</div>
            </div>
          </a>
        </div>
        <br />

        <!-- Filters -->
        <div class="card p-2 bg-secondary">
          <a href="###">
            <div class="row">
              <div class="col-2">
                <img
                  src="../images/icons/filter.png"
                  width="20px"
                  height="20px"
                  alt=""
                />
              </div>
              <div class="col">Filters</div>
            </div>
          </a>
        </div>
        <br />

        <!-- Saved Persona -->
        <div class="card p-2 bg-secondary">
          <a href="####">
            <div class="row">
              <div class="col-2">
                <img
                  src="../images/icons/Savedpersona.png"
                  width="20px"
                  height="20px"
                  alt=""
                />
              </div>
              <div class="col">Saved Persona</div>
            </div>
          </a>
        </div>
        <br />

        <!-- Saved Dialogue -->
        <div class="card p-2 bg-secondary">
          <a href="#####">
            <div class="row">
              <div class="col-2">
                <img
                  src="../images/icons/Saveddialogue.png"
                  width="20px"
                  height="20px"
                  alt=""
                />
              </div>
              <div class="col">Saved Dialogue</div>
            </div>
          </a>
        </div>
        <br />

        <!-- About Us -->
        <div class="card p-2 bg-secondary">
          <a href="######">
            <div class="row">
              <div class="col-2">
                <img
                  src="../images/icons/AboutUs.png"
                  width="20px"
                  height="20px"
                  alt=""
                />
              </div>
              <div class="col ">About Us</div>
            </div>
          </a>
        </div>
        <br />

        <!-- FAQ -->
        <div class="card p-2 bg-secondary">
          <a href="#######">
            <div class="row">
              <div class="col-2">
                <img
                  src="../images/icons/FAQ.png"
                  width="20px"
                  height="20px"
                  alt=""
                />
              </div>
              <div class="col">FAQ</div>
            </div>
          </a>
        </div>
        <br />
        <br />

        <!-- Logout -->
        <div class="text-center ">
          <button
            type="button"
            class="btn"
            onclick="window.location.href='/logout'"
          >
            LOGOUT
          </button>
        </div>
        <br />
      </div>
    </div>
  
</div>
  <!-- navbar and footer -->
  <%-include ("./partials/navbar.ejs")%> <%-include ("./partials/footer.ejs") %>
