<!-- navbar and footer -->
<%-include ("../partials/header.ejs")%>

<h1>This is the persona page.</h1>
<div class="container">
    <% for (var i=0; i<locals.dialogueLinks.length; i++) { %>
    <div class="row">
        <a class="py-5 btn btn-secondary"
            href="<%- locals.dialogueLinks[i].link %>"><%- locals.dialogueLinks[i].name %></a>
    </div>
    <br>
    <% } %>
</div>

<%-include ("../partials/navbar.ejs")%>