<!-- GENERAL CONTENT -->
<!-- header and back header -->
<%-include ("../partials/header-persona.ejs")%>
<%-include ("../partials/emptybackbar.ejs") %>

<!-- title -->
<div class="col text-center">
    <h3>Persona to Persona Chat</h3>
    <p>How would these two personas chat with each other?</p>
</div>
</div>
</div>

<!-- content -->
<div class="container-fluid" style="padding-top: 150px;">
    <div class="row">
        <form action="/dialogue/chat/persona-to-persona" method="post" class="text-center">
            <div class="col-12">
                <div class="card text-center">
                    <div class="card-body">
                        <label class="card-title">Describe the first persona</label><br />
                        <input class="form-control" type="text" name="firstPersona"
                            placeholder="Enter a persona description" />
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="card text-center">
                    <div class="card-body">
                        <label class="card-title">Describe the second persona</label><br />
                        <input class="form-control" type="text" name="secondPersona"
                            placeholder="Enter the situation your persona is in" />
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card text-center">
                    <div class="card-body">
                        <label class="card-title">What kind of setting are they in?</label><br />
                        <input class="form-control" type="text" name="setting"
                            placeholder="Enter the setting the personas are in" />
                    </div>
                </div>
            </div>
            <!-- <div class="col-12">
                <div class="card text-center">
                    <div class="card-body">
                        <label class="card-title">What kind of plot are they in?</label><br />
                        <input class="form-control" type="text" name="plot"
                            placeholder="Enter the plot the personas are in" />
                    </div>
                </div>
            </div> -->
            <br />
            <button class="btn" type="submit">Send</button>
        </form>
    </div>
</div>

<!-- navbar and footer -->
<%-include ("../partials/navbar.ejs")%>
<%-include ("../partials/footer.ejs")%>