<!-- GENERAL CONTENT -->
<!-- header and back header -->
<%-include ("../partials/header-persona.ejs")%>
<%-include ("../partials/emptybackbar.ejs") %>

<!-- title -->
<div class="col text-center">
  <h1>Persona to Persona Chat</h1>
  <p style="font-size: 12px;">How would these two personas chat with each other?</p>
</div>
</div>
</div>

<!-- content -->
<div class="container-fluid" id="inputContainer" style="padding-top: 30px;">
  <div class="row">
    <form action="/dialogue/chat/persona-to-persona-chat" method="post" class="text-center">
      <div class="col-12">
        <div class="card text-center">
          <div class="card-body mx-1">
            <label class="card-title">Describe the first persona</label><br />
            <input class="form-control" type="text" name="firstPersona" placeholder="Enter a persona description" />
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="card text-center">
          <div class="card-body mx-1">
            <label class="card-title">Describe the second persona</label><br />
            <input class="form-control" type="text" name="secondPersona" placeholder="Enter a persona description" />
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="card text-center">
          <div class="card-body mx-1">
            <label class="card-title">What kind of situation are they in?</label><br />
            <input class="form-control" type="text" name="situation" placeholder="Enter the setting the personas are in" />
          </div>
        </div>
      </div>
      <button class="btn mt-3" type="submit" id="send">Send</button>

    </form>
  </div>
</div>

<div class="px-5 text-center d-none" id="loadingCard" style="padding-top: 200px;">
  <span id="loadingContainer"><i class="fa-solid fa-cat fa-bounce fa-2xl" style="color: #ffffff;"></i></i></span>
  <p style="color: #ffffff;">Please watch this cat while we finish generating!</p>
</div>

<script>
  $(document).ready(function() {
    $('#send').click(function() {
      // show card with loading indicator
      $("#loadingCard").removeClass("d-none");
      $("#inputContainer").addClass("d-none");
    });
  });
</script>

<!-- navbar and footer -->
<%-include ("../partials/navbar.ejs")%>
<%-include ("../partials/footer.ejs")%>