<!-- FILTERS -->
<!-- header -->
<%-include ('../partials/header-internal.ejs')%>

<!-- back title bar -->
<%-include ('../partials/emptybackbar.ejs')%>
<div class="col text-center">
    <h1>FILTERS</h1>
    </div>
</div>

<div class="container pt-5" style="padding-bottom: 100px;">
<p>this is a filter page</p>
</div><br>
</div>


<!-- navbar and footer -->
<%-include ('../partials/navbar') %>
<%-include ('../partials/footer') %>
