<!-- SAVED PAGE -->
<!-- header -->
<%-include ('../partials/header-internal.ejs')%>

<!-- back title bar -->
<%-include ('../partials/emptybackbar.ejs')%>
<div class="col text-center">
  <h1>Saved</h1>
</div>
</div>

<div class="container p-4" style="margin-top: 100px;">
  <div class="row">
    <a href="/saved/persona">
      <div class="card col btn p-5">
        <i class="fa-solid fa-person-dots-from-line fa-2xl"></i>
        <h5 class="pt-4">Persona</h5>
      </div>
    </a>
  </div> <br><br>
  <div class="row">
    <a href="/dialogue/saved">
      <div class="card col btn p-5">
        <i class="fa-solid fa-comment-dots fa-2xl"></i>
        <h5 class="pt-4">Dialogue</h5>
      </div>
    </a>
  </div>
</div>



<!-- navbar and footer -->
<%-include ('../partials/navbar') %>
<%-include ('../partials/footer') %>