<!-- SAVED PAGE -->
<!-- header -->
<%-include ('../partials/header-internal.ejs')%>

<!-- back title bar -->
<%-include ('../partials/emptybackbar.ejs')%>
<div class="col text-center">
    <h1>Saved</h1>
    </div>
</div>

<div class="container p-5 my-5">
    <div class="row">
    <div class="card col btn p-5" id="title">Persona</div>
    </div> <br><br>
    <div class="row">
    <div class="card col btn p-5" id="title">Dialogue</div>
    </div> <br><br>    
    <div class="row">
    <div class="card col btn p-5" id="title">Prompt</div>
    </div>
</div>



<!-- navbar and footer -->
<%-include ('../partials/navbar') %>
<%-include ('../partials/footer') %>
