<!-- 404- PAGE NOT FOUND -->
<!-- TO DO: put an easter egg -->
<!-- header -->
<%-include ('../partials/header.ejs')%>

<!-- video background -->
<div class="bg">
<video autoplay muted loop id="background" >
  <source src="./images/blue_bg.mp4" type="video/mp4" />
</video>
</div>
<!-- logo -->
<div class="container-fluid meowpointer" id="login" style="padding-top: 180px;">
  <div id="box" onclick="secret()">
      <img id="logo" class="special" src="./images/invsona.png" alt="invsona logo"/>
    <h1 class="pt-3 text-bg-light glow-flash" id="title">Invsona</h1>
    <div class="container mb-5">
      <p id="slogan">Character Creation at Your Finger Tips</p>
    </div>

      <div class="pb-5">
        <p class="fs-1 fw-1">ERROR 404:<br> PAGE NOT FOUND</p>
      </div>


        <form action="/404" method="post">
        <button type="submit" class="btn btn-primary">
        RETURN TO HOME
            </button>

    </form>
    <div id="meow"></div>
   </div>
  </div>
</div>

<!-- footer -->
<%-include ('../partials/footer.ejs')%>
