<!-- Error 401- Bad request: incorrect username -->
<!-- header -->
<%-include ('../partials/header.ejs')%>

<!-- video background -->
<video autoplay muted loop id="background">
  <source src="./images/blue_bg.mp4" type="video/mp4" />
</video>

<!-- logo -->
<div class="container-fluid" id="login" style="padding-top: 180px;">
  <div id="box">
    <img id="logo"src="../images/invsona/invsona.png" alt="invsona logo" />
    <h1 class="pt-3" id="title">Invsona</h1>
    <div class="container mb-5">
      <p id="slogan">Character Creation at Your Finger Tips</p>
    </div>

      <div class="pb-5">
        <p class="fs-1 fw-1">ERROR 500: <br> AN ERROR OCCURRED WHILE CREATING YOUR ACCOUNT</p>
      </div>
      <form action="/500" method="post">
      <button type="submit" class="btn btn-primary">
      RETURN TO LOGIN
    </button>
    </form>

   </div>
  </div>
</div>

<!-- footer -->
<%-include ('../partials/footer.ejs')%>
