
#userImage {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 100%;
  border: 2px dotted #fff;
  filter: drop-shadow(0px 0px 30px #051726);
  text-align: center;
}

#display-pic {
  padding-top: 40px;
  font-size: x-large;
}

#display-name {
  padding-top: 10px;
  font-size: 30pt;
  display: inline-block;
  color: #051726;

}

#card-name {
  font-size: 25px;
  font-weight: bolder;
  font-family: "Gugi", sans-serif;
  color: #98a6d4;
}
