/* GLOBAL CSS SHEET */
body {
  font-family: "Gugi", sans-serif;
  height: 100%;
}


h1 {
  text-align: center;
}

/* .container {
  margin: 0 auto;
  width: 800px;
  text-align: center;
} */

.clickable {
  cursor: hand;
}

.input-container {
  position: fixed;
  bottom: 100px;
  width: 100%;
  padding: 10px;
  background-color: #f2f2f2;
}
