/* GLOBAL CSS SHEET */
body {
  font-family: "Gugi", sans-serif;
  height: 100%;
}


h1 {
  text-align: center;
}

/* .container {
  margin: 0 auto;
  width: 800px;
  text-align: center;
} */

.clickable {
  cursor: hand;
}
